{% extends 'layout.html' %}

	{% block body %}
	<div class = "jumbotron text-center">
		<h1>NoteKeeper</h1>
	    <p class="lead">This application was built while learning the Python Flask Framework</p>

      

	    {% if session.loggedin %}
            <a href="/dashboard" class="btn btn-primary btn-lg">Dashboard</a>
            
        {% else %}
           	<a href="/register" class="btn btn-primary btn-lg">Register</a>
      		<a href="/login" class="btn btn-success btn-lg">Login</a>
        {% endif %}





      
    
	</div>
	{% endblock %}